<% [[@active_games, "Join Active"], [@finished_games, "View Finished"]].each do |games, heading| %>
  <% unless games.empty? %>
    <h2><%= heading %> Game</h2>

    <form action="/game">
      <label for="join_game_select">Game:</label>
      <select name="id" id="join_game_select">
        <% games.each do |text, id| %>
          <option value="<%= id %>"><%= text %></option>
        <% end %>
      </select>
      <input type="submit" class="btn btn-primary" value="Join Game">
    </form>
  <% end %>
<% end %>

<h2>Start New Game</h2>

<form action="/game/new" method="POST">
  <%== csrf_tag("/game/new") %>
  <label for="emails">Other Players:</label>
  <input type="text" name="emails" id="emails">
  <input type="submit" class="btn btn-primary" value="Start New Game">
</form>

<h2>Admin</h2>

<ul>
  <li><a href="/auth/change-password">Change Password</a></li>
  <li><a href="/auth/change-login">Change Login</a></li>
</ul>
