<p>Quinto is based on the 1960s 3M board game of the same name, simplest to
describe as a numeric version of Scrabble.  This is currently the only
known electronic implementation of Quinto.</p>

<h2>How to Play Quinto</h2>

<h3>Object of the Game</h3>

<p>Each player, in turn, tries to play from one to five tiles in a row, either rank or file, with at least one of his tiles touching one previously played.  The face numbers on the tile must total 5 or a multiple of 5 in all directions (just as a crossword puzzle must make sense in all directions).  Each player scores the total of the face numbers in rows he has completed.  High scorer wins.</p>

<h3>Play</h3>

<p><b>First player</b>: Place from one to five of your tiles in a straight line, either rank (across) or file (down).  One of these played tiles must be placed on the center square of the board.  The face numbers must total 5 or a multiple of 5 (10, 15, etc.).  After playing, draw again to keep a total of five tiles before you.</p>

<p><b>Other players</b>: Do the same, placing at least one of your tiles touching one previously placed.  The tiles must total 5 or a multiple of 5 in all directions.</p>

<p>A short row (fewer than five) may be extended by another player. A row may never contain more than 5 tiles.  If it is your turn, you can choose to pass instead of making a move on the board.</p>

<h3>Scoring</h3>

<p>Your score is the same as the total of the face numbers on the tiles in all of the rows you have completed.  Although you must play your tiles in only one direction in one turn, you will discover it is possible to score in several directions at once.</p>

<p>When all of the playable tiles have been used, the player with the highest score wins.  Any unplayed tiles are subtracted from the holder's score.</p>
